<div class="d-flex justify-content-around align-items-stretch h-100 gw-contacts">
    <div class="w-50 d-flex justify-content-center gw-contact-company">
        <a
            href="https://chunkup.com"
            target="_blank"
            class="btn btn-dark gw-contact-bg"
            title="{{'i18n.COMMON.COMPANY' | translate}}"
        ></a>
    </div>

    <div class="w-50 d-flex justify-content-center gw-contact-author">
        <a
            href="https://www.linkedin.com/in/yuriy-detsyk"
            target="_blank"
            class="btn btn-dark gw-contact-bg"
            title="Yuriy D"
        ></a>
    </div>
</div>