<ng-container *ngIf="!mailSent">
    <div class="d-flex flex-column justify-content-center align-items-stretch gw-form">
        <div class="form-group m-2">
            <label for="email" translate="i18n.COMMON.EMAIL_ADDRESS"></label>
            <input [formControl]="email" type="email" class="form-control" id="email"
                   placeholder="{{'i18n.PLACEHOLDERS.EMAIL' | translate}}">
        </div>

        <div class="d-flex">
            <div [class.disabled]="!email.valid" (click)="remindPassword()"
                 (keydown.enter)="remindPassword()" class="btn btn-primary m-2 flex-grow-1"
                 tabindex="0" translate="i18n.COMMON.REMIND_VIA_EMAIL">
            </div>
            <button mat-dialog-close class="btn btn-secondary m-2" tabindex="0"
                    translate="i18n.COMMON.CANCEL"></button>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="mailSent">
    <div class="d-flex flex-column justify-content-center align-items-stretch gw-form">
        <div class="alert alert-success" role="alert"
             translate="i18n.NOTIFICATIONS.EMAIL_WITH_PASSWORD_SENT"></div>

        <div class="d-flex">
            <button mat-dialog-close class="btn btn-primary m-2" tabindex="0"
                    translate="i18n.COMMON.CLOSE"></button>
        </div>
    </div>
</ng-container>