<div [formGroup]="form"
     class="d-flex flex-column justify-content-center align-items-stretch h-100 m-auto gw-form">
    <div class="form-group m-2">
        <label for="email" class="light" translate="i18n.COMMON.EMAIL_ADDRESS"></label>
        <input formControlName="email" type="email" class="form-control" id="email"
               placeholder="{{'i18n.PLACEHOLDERS.EMAIL' | translate}}">
    </div>

    <div class="form-group m-2">
        <label for="password" class="light" translate="i18n.COMMON.PASSWORD"></label>
        <input formControlName="password" type="password" class="form-control" id="password"
               placeholder="{{'i18n.PLACEHOLDERS.PASSWORD' | translate}}">
    </div>

    <div class="form-group m-2">
        <label for="gender" class="light" translate="i18n.COMMON.GENDER"></label>
        <select formControlName="gender" class="form-control" id="gender">
            <option disabled selected translate="i18n.PLACEHOLDERS.GENDER"></option>
            <option [value]="Gender.Male" translate="i18n.COMMON.MALE"></option>
            <option [value]="Gender.Female" translate="i18n.COMMON.FEMALE"></option>
        </select>
    </div>

    <div class="form-group m-2">
        <label for="biography" class="light" translate="i18n.COMMON.BIOGRAPHY"></label>
        <textarea formControlName="biography" class="form-control" id="biography" rows="3"
                  placeholder="{{'i18n.PLACEHOLDERS.BIOGRAPHY' | translate}}"></textarea>
    </div>

    <div class="d-flex">
        <div [class.disabled]="!form.valid" (click)="signUp()"
             class="btn btn-primary m-2 flex-grow-1" tabindex="0" translate="i18n.COMMON.SIGN_UP">
        </div>
        <div (click)="reset()" class="btn btn-secondary light m-2" tabindex="0"
             translate="i18n.COMMON.RESET"></div>
    </div>
</div>